*{padding:0;margin:0;list-style:none;outline:none;-webkit-tap-highlight-color:transparent;}
.clearfix:after,.cl:after{content:'\20';display:block;height:0;clear:both;}.clearfix{*zoom:1;}.clear{clear:both;}

.mt1{margin-top:1vw;}.mt3{margin-top:3vw;}.mt4{margin-top:5.3333vw;}.mt5{margin-top:5vw;}.mt8{margin-top:8vw;}.mt10{margin-top:10vw;}
.mb1{margin-bottom:1vw;}.mb3{margin-bottom:3vw;}.mb5{margin-bottom:5vw;}.mb10{margin-bottom:10vw;}
.ml1{margin-left:1vw;}.ml3{margin-left:3vw;}.ml5{margin-left:5vw;}.ml10{margin-left:10vw;}
.mr1{margin-right:1vw;}.ml2{margin-left:2.4vw;}.mr3{margin-right:3vw;}.mr5{margin-right:5vw;}.mr10{margin-right:10vw;}

.p1{padding:1vw;}.p3{padding:3vw;}.p5{padding:5vw;}.p10{padding:10vw;}
.pt1{padding-top:1vw;}.pt2{padding-top: 2.6667vw;}.pt3{padding-top:3vw;}.pt5{padding-top:5vw;}.pt8{padding-top:8vw;}.pt10{padding-top:10vw;}
.pb1{padding-bottom:1vw;}.pb3{padding-bottom:3vw;}.pb5{padding-bottom:5vw;}.pb10{padding-bottom:10vw;}
.pd4{padding: 0 4vw;}
.pl1{padding-left:1vw;}.pl3{padding-left:3vw;}.pl5{padding-left:5vw;}.pl10{padding-left:10vw;}
.pr1{padding-right:1vw;}.pr3{padding-right:3vw;}.pr5{padding-right:5vw;}.pr10{padding-right:10vw;}
.pl2{padding-left:2vw;}
.center{text-align: center;}
.fr{float:right;}
.relative{position: relative;}
.ofhidden{overflow: hidden;}
.lineHeight{line-height: 100%;}



* {
	-webkit-touch-callout:none
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

body,html{scroll-behavior:smooth;-webkit-overflow-scrolling:touch;}
// 去除行内块元素的默认样式（系统级）
input,textarea{user-select:auto;-webkit-appearance: none;appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
img{max-width:100%;}
button,select,textarea{outline:none}
textarea{-webkit-appearance: none;appearance: none;resize:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}


//===============参数设置START=======
//默认文字颜色  
$fontColor		= #666;			//默认字体颜色 - 

//背景色
$lightBg 		= #fff;			//
$darkBg 		= #081823;		//
$darkColor   = #122030;      // 比背景色浅一点的颜色

// $c=#3999f2;					//正常颜色
$c 				= #1989fa;
$dc 			= #2064d1;		//正常深色

$lightest 		= #ededed;		//最浅
$lighter 		= #abb2c7;		//比浅色深点
$light 			= #737a92; 		//浅色

$unInput        = #C1CAD5;      // 输入框未输入时的颜色

$bg 			= #f5f5f5;		//背景色
$black 			= #111;			//黑色
$threeblack     = #333;         //浅黑色
$sixblack       = #666;         //浅浅黑色
$nineblack      = #999;         //比浅浅黑色浅点

$linkColor 		= #7485b7;	
$blue           = #1789FA;      //蓝色
$deepBlue       = #0E58A1;      //深蓝色（黑夜模式）

$green 			= #1DD063;		//
$red 			= #F94E65;		//

$br 			= 1vw;			//

//===============参数设置END=======







//===============间距=======
.bt{border-top:2.6667vw solid $bg;
	&.dark{border-color:$black;}
	&.mini{border-width:1vw;}
}
.bb{border-bottom:1.5vw solid $bg;
	&.dark{border-color:$black;}
	&.mini{border-width:1vw;}
}


//===============vue-router 过渡=======
.slide-right-enter-active,.slide-left-enter-active,.slide-right-leave-active,.slide-left-leave-active { will-change: transform;transition: all 300ms;position: absolute;}
.slide-right-enter{transform: translateX(-100vw);opacity: 0; }
.slide-right-leave-active {transform: translateX(100vw); opacity: 0;}
.slide-left-enter {transform: translateX(100vw);opacity: 0;}
.slide-left-leave-active {transform: translateX(-100vw);opacity: 0;}


//===============页面布局=======
.flexPage{display: flex;flex-direction:column;height:100vh;width:100vw;
	.flexHead{}
	.flexContent{flex:1;overflow-y:auto;overflow-x:hidden;}
}



.black{color:$black;}
.light{color:$light;}
.lighter{color:$lighter;}
.lightest{color:$lightest;}
.color{color:$c;}
.flexspan{display: flex;justify-content:space-between;}

// 20 22 28 40 58 大小字体
.f20{font-size: 2.6667vw}
.f22{font-size: 2.9333vw}
.f28{font-size: 3.7333vw}
.f40{font-size: 5.3333vw}
.f58{font-size: 7.7333vw}

.f32{font-size:3.2vw;}
.f34{font-size:3.4vw;}
.f36{font-size:3.6vw;}
.f4{font-size:4vw;}
.f5{font-size:5vw;}
.f6{font-size:6vw;}
.f7{font-size:7vw;}
.f8{font-size:8vw;}


.pl15px{padding-left:15px;}
.pr15px{padding-right:15px;}
.p15px{padding:15px;}


