


body {
    font: 14px/1.5 "Heiti SC", "Helvetica", "HelveticaNeue", "Droidsansfallback", "Droid Sans", "PingFang SC", Arial, "Helvetica Neue", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Open Sans", "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

$white: #fff;
$c: #ccc;
$orange: #FE6815;
$lowOrange: #FFA81E;
$yellow: #FFA524;
$three: #333;
$six: #666;
$nine: #999;
$b4: #616973; // 淡灰色
$d9: #D9D9D9;
$e6: #E6E6E6;
$ed: #EDEDED;
$de: #DEDEDE;
$f5: #f5f5f5;
$a3: #3A3A3A;
$so: #616973;
$green: #1DD063;
$red: #F94E65;
$blue: #337EFD;
$d1:#1D2636;
$f7:#f7f7f7;

.download{width:100vw;height:100vh;display: flex;flex-direction: column;align-items:center;
    .logo{
        img{width:100%;display: block;margin-top:15vh;}
    }
    .mark{font-size:6.6667vw;line-height:9.3333vw;color: #333;margin: 6vw 0 8vw;}
    .information{font-size: 3.2vw;color:#333;line-height:4.4vw;margin-bottom:15vw;}
    .buttonWrapper{display: flex;align-items:center;justify-content:center;width:84vw;height: 11.7333vw;border-radius: 7.3333vw;background: #333;color:#fff;font-size:4vw;font-weight: 500;margin-bottom: 10vw;
        .button{display: flex;align-items:center;justify-content:center;width: 50%;
            img{width:4.4vw;margin-right:2vw;}
        }
    }
    .noIOS{margin-top: 8vw;font-size: 4vw;color:#333;}
}
.overlay{width:100vw;height:100vh;position:fixed;top:0;left:0;right:0;background: rgba(0,0,0,0.7);
    img{width: 60vw;float:right;margin-top:5vw;margin-right:8vw;}
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconweixz:before {
    content: "\e695";
}
.iconxuanzhong:before {
  content: "\e696";
}
.flexContent {
    overflow: hidden;
}
.van-field {
    background-color: #F7F7F7;
}
.sendSms {
    color: #1D6C72;
}
.switch {
    line-height: 10vw;
    align-self: flex-end;
    margin-right: 5vw;
    font-weight: 600;
}
.logo {
    display: block;
    width: 40vw;
    margin: auto;
    padding-right: 8vw;
}
.signType {
    margin-top: -10vw;
}
canvas{
    background-color: #F7F7F7;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.signWrapper {
    .signTitle {
        ul {
            padding: 0 4vw;
            display: flex;
            align-items: center;
            line-height: 9.3333vw;

            li {
                font-size: 4vw;
                color: $six;
                font-weight: 500;
                line-height: 9.3333vw;
                margin-right: 4vw;

                &.router-link-active {
                    font-size: 6.6667vw;
                    color: #424242;
                }
            }
        }
    }

    .signHead {
        padding: 0 4vw;

        >h3 {
            font-size: 6.6667vw;
            color: #424242;
            line-height: 9.3333vw;
        }

        .smsToast {
            font-size: 3.2vw;
            color: #69747E;
            margin-top: 2.6667vw;
            line-height: 4.4vw;
        }
    }

    .signType {
        padding: 6vw 6vw 0;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 5vw;
            color: #CCCCCC;
            margin-right: 5vw;
            display: flex;
            align-items: center;

            i {
                color: $three;
                font-size: 4vw;
                margin-right: 2vw;
            }
        }
        .title-active {
            color: $three;
        }
    }

    .signForm {
        padding: 6.6667vw 6vw 0;

        &.kyc {
            padding-top: 4vw;
        }

        &.pt3 {
            padding-top: 3vw;
        }

        .van-hairline--top-bottom::after {
            border: none;
        }

        .van-tabs__nav {
            border: none
        }

        .cellGroup {
            &.lastCell {
                margin-bottom: 8vw;
            }

            .title {
                color: $nine;
                font-size: 3.2vw;
                line-height: 4.4vw;
            }

            .inputBox {
                display: flex;
                align-items: center;
                border-bottom: 1px solid $e6;
                margin-bottom: 5.3333vw;

                .areaCode {
                    display: inline-block;
                    width: 15%;
                    color: $three;
                    height: 6vw;
                    line-height: 6vw;
                    border-radius: 1.0677vw;
                    font-weight: 500;
                    font-size: 3.7333vw;

                    i {
                        font-size: 3.7333vw;
                        margin-left: 1vw;
                        color: $three;
                    }
                }
            }
        }

        .smsBox {
            margin-bottom: 8vw;

            >input {
                border: none;
                border-radius: none;
                width: 12vw;
                border-bottom: 1px solid $d9;
                margin-right: 4vw;
                text-align: center;

                &:last-child {
                    margin-right: 0;
                    ;
                }
            }
        }

        .van-cell::after {
            border: none;
        }

        .edit {
            border-bottom: 1px solid $ed;
            color: $three;
            font-size: 4vw;
            font-weight: 500;
            padding-left: 0;
        }

        .danger {
            margin-top: 2vw;
            font-size: 3.2vw;
            color: #f44;
        }

        .btnBox {
            margin-bottom: 2.6667vw;
            margin-top: 8vw;

            &.fixed {
                position: fixed;
                left: 4vw;
                right: 4vw;
                bottom: 4vw;
                margin-bottom: 0;
                z-index: 5;
            }

            .van-button {
                height: 12vw;
                border-radius: 6vw;
                background: linear-gradient(to right, #A0BFC2, #B0D7D9);;
                color: $white;
                font-size: 4.5vw;
                line-height: normal;

                &.active {
                    background: linear-gradient(to right, #1F7076, #46A7AD);;
                    color: $white;
                }
            }

            .van-button--default {
                border: none;
            }

            .van-button--large {
                line-height: normal;
            }
        }

        >p {
            font-size: 3.2vw;

            &.signin,
            &.signup {
                color: $three;
            }

            .forgetPsw {
                color: $nine;
            }
        }

        .rules {
            height: 4.4vw;
            font-size: 3.2vw;
            color: $six;
            margin-bottom: 2.6667vw;
            display: flex;
            align-items: center;
            margin-top: -4vw;

            i {
                font-size: 3.2vw;
                margin-right: 1.3333vw;
            }

            // span {
            //     color: $blue;
            // }
        }

        .van-cell-group {
            .van-cell {
                padding: 5.3333vw 0;
                line-height: 5.3333vw;
                font-size: 3.7333vw;
                border-bottom: 1px solid $e6;

                .van-cell__title {
                    color: $three;

                    span {
                        display: block;
                        height: 24px;
                        line-height: 26px;
                    }
                }

                .van-cell__value {
                    color: $six;

                    span {
                        display: block;
                        height: 24px;
                        line-height: 26px;
                    }
                }
            }

            .van-cell::after {
                border: none;
            }
        }

        .documentBox {
            display: flex;

            li {
                min-width: 18.6667vw;
                height: 7.7333vw;
                line-height: 7.7333vw;
                text-align: center;
                background: #F7F7F7;
                font-size: 3.2vw;
                color: $nine;
                margin-right: 2.6667vw;
                font-weight: 500;

                &.active {
                    color: $three;
                }
            }
        }

        .picBox {
            margin-top: 7.2vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .uploadBox {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &.toast {
                    width: 44%;
                    padding: 0 3%;

                    p {
                        margin-bottom: 1vw;
                        word-break: break-all;
                    }
                }

                p {
                    line-height: 4.4vw;
                    font-size: 3.2vw;
                    color: $nine;
                    margin-bottom: 2.1333vw;
                }

                .van-uploader {
                    width: 44.6667vw;
                    height: 30.6667vw;
                    border-radius: 2.4vw;
                    margin-bottom: 5.3333vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

        >.toast {
            font-size: 3.2vw;
            color: $nine;
            text-align: left;
            word-break: break-all;
            padding: 2vw;
        }
    }

    // kyc
    .kycStatus {
        padding: 5.3333vw 4vw 0;

        h3 {
            font-size: 4.8vw;
            color: $three;
            line-height: 6.6667vw;
            margin-bottom: 2.6667vw;
            margin-left: -2vw;
        }

        p {
            font-size: 3.2vw;
            color: $so;
            line-height: 4.4vw;
        }

        .btnBox {
            margin-top: 8vw;

            .van-button {
                height: 11.7333vw;
                border-radius: 1.0667vw;
                background: $blue;
                ;
                color: $white;
                font-size: 3.7333vw;
                line-height: normal;
            }

            .van-button--default {
                border: none;
            }

            .van-button--large {
                line-height: normal;
            }
        }
    }
}